backend/orders-service/serverless.yml
service: edo-orders-service

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  memorySize: 256
  timeout: 20
  iam:
    role: arn:aws:iam::076456812464:role/LabRole
  environment:
    ORDERS_TABLE: EdoOrdersTable
    ORDER_BUS_NAME: EdoOrderBus
    STATE_MACHINE_ARN: !Ref EdoOrderWorkflow

functions:
  createOrder:
    handler: handler.createOrder
    events:
      - http:
          path: orders
          method: post
          cors: true
    environment:
      STATE_MACHINE_ARN: !GetAtt EdoOrderWorkflow.Arn

  listOrders:
    handler: handler.listOrders
    events:
      - http:
          path: orders
          method: get
          cors: true

  getOrder:
    handler: handler.getOrder
    events:
      - http:
          path: orders/{orderId}
          method: get
          cors: true

  advanceOrder:
    handler: handler.advanceOrder
    events:
      - http:
          path: orders/advance
          method: post
          cors: true

  # Funciones para Step Functions
  waitForKitchen:
    handler: handler.waitForKitchen

  waitForPacking:
    handler: handler.waitForPacking

  waitForDelivery:
    handler: handler.waitForDelivery

resources:
  Resources:
    # DynamoDB Table
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: EdoOrdersTable
        AttributeDefinitions:
          - AttributeName: orderId
            AttributeType: S
        KeySchema:
          - AttributeName: orderId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    # EventBridge Bus
    EdoOrderBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: EdoOrderBus

    # Step Functions State Machine
    EdoOrderWorkflow:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: EdoOrderWorkflow
        RoleArn: arn:aws:iam::076456812464:role/LabRole
        DefinitionString: !Sub |
          {
            "Comment": "Edo Order Workflow",
            "StartAt": "OrderReceived",
            "States": {
              "OrderReceived": {
                "Type": "Pass",
                "Result": "Order received",
                "Next": "WaitForKitchen"
              },
              "WaitForKitchen": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "Parameters": {
                  "FunctionName": "${WaitForKitchenLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "taskToken.$": "$$.Task.Token"
                  }
                },
                "Next": "InKitchen"
              },
              "InKitchen": {
                "Type": "Pass",
                "Result": "In kitchen",
                "Next": "WaitForPacking"
              },
              "WaitForPacking": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "Parameters": {
                  "FunctionName": "${WaitForPackingLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "taskToken.$": "$$.Task.Token"
                  }
                },
                "Next": "Packing"
              },
              "Packing": {
                "Type": "Pass",
                "Result": "Packing",
                "Next": "WaitForDelivery"
              },
              "WaitForDelivery": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "Parameters": {
                  "FunctionName": "${WaitForDeliveryLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "taskToken.$": "$$.Task.Token"
                  }
                },
                "Next": "Completed"
              },
              "Completed": {
                "Type": "Pass",
                "Result": "Order completed",
                "End": true
              }
            }
          }
